@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #32a1cd;
  --color-secondary: #add9eb;
  --color-accent: #fed76c;

  --color-text: rgba(7, 11, 13, 0.95);
  --color-paragraph: rgba(7, 11, 13, 0.8);
}

:root {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);

  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  line-height: 110%;
}

p {
  color: var(--color-paragraph);
  line-height: 150%;
}

.btn {
  @apply text-text cursor-pointer rounded-3xl px-6 py-3 font-medium transition-opacity hover:opacity-90;
}
